<div class="hero-section">
    <span>Registro de Jogador</span>
    <h1>Criar sua conta</h1>
    <p>Escolha seu nome de guerra e entre na arena</p>
</div>

{{#if errors.general}}
  <p style="color:red">{{errors.general}}</p>
{{/if}}

<form action="/auth/register" method="POST" class="form-control">

  <div>
    <label for="user">Gamertag</label>
    <input
      type="text"
      id="user"
      name="user"
      placeholder="SeuNomeDeGuerra"
      value="{{user}}"
      required
    />
    {{#if errors.user}}
      <span class="error">{{errors.user}}</span>
    {{/if}}
  </div>

  <div>
    <label for="email">E-mail</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="jogador@email.com"
      value="{{email}}"
      required
    />
    {{#if errors.email}}
      <span class="error">{{errors.email}}</span>
    {{/if}}
  </div>

  <div class="input-wrapper">
    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      name="password"
      minlength="8"
      value="{{password}}"
      required
    />
    {{#if errors.password}}
      <span class="error">{{errors.password}}</span>
    {{/if}}
    <button type="button" class="toggle-password" data-target="password">
      Mostrar
    </button>
  </div>
  
  <div class="password-rules">
    <p id="rule-length">• Mínimo 8 caracteres</p>
    <p id="rule-number">• Pelo menos 1 número</p>
    <p id="rule-upper-letter">• Pelo menos 1 letra maiúscula</p>
    <p id="rule-lower-letter">• Pelo menos 1 letra minúscula</p>
    <p id="rule-special">• Pelo menos 1 caractere especial</p>
  </div>

  <div class="input-wrapper">
    <label for="confirmPassword">Confirmar senha</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      minlength="8"
      required
    />
    <button type="button" class="toggle-password" data-target="confirmPassword">
      Mostrar
    </button>
  </div>

  <div class="terms-group">
    <div class="terms">
      <input type="checkbox" id="terms">
      <label for="terms">Aceito os Termos de Uso e Codigo de Conduta</label>
    </div>
  </div>

  <button type="submit">
    Entrar na Arena
  </button>

  <p>
    Já tem conta?
    <a href="/auth/login"><span>Entrar</span></a>
  </p>

</form>

<script src="/js/togglePassword.js"></script>
<script type="module" src="/js/passwordValidation.js"></script>